pip>=19.1
#Twisted==18.9.0
scrapy
scrapyd>=1.2.1
scrapy-redis
logparser>=0.8.2
# additional libraries for ecomm-pricing project
scrapy-magicfields==1.1.0
scrapy-splash==0.7.2
selenium==3.141.0
pyvirtualdisplay==0.2.4
xvfbwrapper==0.2.9
boto3
boto
scrapy-s3pipeline
python-dotenv
requests
